save-workspace-protocol=false
save-prefix=''
auto-install-peers=true
strict-peer-dependencies=false
resolution-mode=highest-through
enable-pre-post-scripts=true
package-import-method=clone-or-copy
ignore-workspace-root-check=true
package-manager-version=auto
package-lock=false
lockfile=true
include-workspace-root=true
prefer-workspace-packages=true
publish-branch=main
enable-pnpm=true
publish-branch=main
shared-workspace-lockfile=true
use-lockfile-v6=true
save-exact=true
shamefully-hoist=true
node-version=20.18.0
update-notifier=false
# Prevent pnpm from modifying package.json
package-manager=false